.home {
    display: flex;
    width: 100%;

    .navbar {
        display: none;
    }

    .chat {
        width: calc(100% - 260px - 32px);
        padding: 20px 4px 20px 40px;
        max-height: calc(100vh - 40px);

        .container {
            padding-right: 40px;
            overflow-y: auto;
            height: 100%;
            position: relative;

            .messages-container {
                min-height: calc(100% - 54px - 20px);

                .question-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    margin-bottom: 20px;

                    .text {
                        border-radius: 8px;
                        background-color: var(--primary-blue);
                        color: #fff;
                        padding: 20px 40px;
                        max-width: 300px;
                    }
                }

                .answer-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 20px;

                    .text {
                        border-radius: 8px;
                        background-color: #F5F5F5;
                        padding: 20px 40px;
                        max-width: 300px;
                    }

                    .icon-button {
                        cursor: pointer;
                    }
                }
            }

            .bottom-container {
                bottom: 20px;
                // position: absolute;
                display: flex;
                gap: 24px;
                width: 100%;
    
                input {
                    width: calc(100% - 24px - 54px);
                    padding: 16px;
                    align-items: center;
                    gap: 41px;
                    border-radius: 17px;
                    border: 1px solid rgba(0, 0, 0, 0.4);
                    transition: 0.3s;

                    &:hover {
                        border: 1px solid rgba(0, 0, 0, 1);
                        transform: translateY(-2px);
                    }
                }
    
                button {
                    border-radius: 100%;
                    background: var(--primary-blue);
                    cursor: pointer;
                    height: 54px;
                    width: 54px;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &:hover {
                        box-shadow: 3px 3px 12px 0px rgba(23, 195, 206, 0.35);
                        transform: translateY(-2px);
                    }

                    .send-icon {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }

    .delete-modal, .edit-modal {
        position:fixed;
        left: calc(50% - 277px);
        top: calc(50% - 86.5px);
        width: 30rem;

        .modal {
            width: 100%;
        }

        .header {
            display: flex;
            gap: 16px;

            .icon-container {
                background-color: #FFEBEB;
                border-radius: 100%;
                height: 45px;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;

                .delete-icon {
                    height: 24px;
                    width: 24;
                    --primary-icon-color: #E53535;
                }
            }

            .text {
                .title {
                    color: #23262F;
                    font-feature-settings: 'clig' off, 'liga' off;
                    /* Body */
                    font-family: Inter, sans-serif;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1.5rem; /* 150% */
                }

                .description {
                    color: var(--color-dark-dark-2, #87898E);
                    font-feature-settings: 'clig' off, 'liga' off;
                    /* Small Caption/ Medium */
                    font-family: Inter;
                    font-size: 0.875rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1rem; /* 114.286% */
                }
            }
        }

        .buttons {
            display: flex;
            gap: 16px;
            justify-content: center;
            align-items: center;
            margin-top: 1.5rem;

            .delete-button, .cancel-button {
                cursor: pointer;
                border-radius: 0.5rem;
                width: calc(50%);
                height: 3.5rem;
                padding: 1.25rem 0rem;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            .delete-button {
                background-color: #E53535;
                color: var(--color-light-light, #FCFCFD);
                font-feature-settings: 'clig' off, 'liga' off;
                /* Button / Medium / Normal */
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem; /* 100% */
            }

            .cancel-button {
                background: var(--color-light-light-2, #F1F1F1);
                color: var(--color-dark-dark, #23262F);
                font-feature-settings: 'clig' off, 'liga' off;

                /* Button / Medium / Normal */
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem; /* 100% */
            }
        }
    }

    .edit-modal {
        .header {
            .icon-container {
                background-color: var(--primary-blue);
                border-radius: 100%;
                height: 45px;
                width: 45px;
                display: flex;
                justify-content: center;
                align-items: center;

                .edit-icon {
                    height: 24px;
                    width: 24;
                    --primary-icon-color: white;
                }
            }

            .text {
                width: 100%;

                .title {
                    margin: 12px 0;
                }

                input {
                    border-radius: 0.5rem;
                    border: 2px solid #DFDFE6;
                    background: var(--color-light-light, #FCFCFD); 
                    padding: 1rem; 
                    width: 100%;
                }
            }
        }

        .buttons {
            .save-button, .cancel-button {
                cursor: pointer;
                border-radius: 0.5rem;
                width: calc(50%);
                height: 3.5rem;
                padding: 1.25rem 0rem;
                justify-content: center;
                align-items: center;
                gap: 1rem;
            }

            .save-button {
                background-color: var(--primary-blue);
                color: var(--color-light-light, #FCFCFD);
                font-feature-settings: 'clig' off, 'liga' off;
                /* Button / Medium / Normal */
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem; /* 100% */
            }

            .cancel-button {
                background: var(--color-light-light-2, #F1F1F1);
                color: var(--color-dark-dark, #23262F);
                font-feature-settings: 'clig' off, 'liga' off;

                /* Button / Medium / Normal */
                font-family: Inter;
                font-size: 1rem;
                font-style: normal;
                font-weight: 400;
                line-height: 1rem; /* 100% */
            }
        }
    }

    .content-blur, .content-normal {
        animation: removeBlur 0.3s ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes removeBlur {
        from {
            filter: blur(5px);
        }
        to {
            filter: blur(0px);
        }
    }

    .content-blur {
        animation: applyBlur 0.3s ease-in;
        animation-fill-mode: forwards;
    }

    @keyframes applyBlur {
        from {
            filter: blur(0px);
        }
        to {
            filter: blur(5px);
        }
    }

    @media (max-width: 768px) {
        display: block;

        .sidebar-container {
            .sidebar {
                // animation: colapse 0.3s ease-in;
                position: absolute;
                left: -360px;
                transition: left 0.3s ease-in;
                z-index: 2;
            }
        }

        .sidebar-container-open {           
            .sidebar {
                position: absolute;
                left: 0;
                z-index: 2;
                transition: left 0.3s ease-in-out;

                .top-container {
                    .title {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }

        .navbar {
            display: flex;
            gap: 36px;
            padding: 26px;
            background-color: var(--primary-blue);
    
            .hamburguer-button {
                cursor: pointer;
                transition: 0.3s;
    
                .hamburguer-icon {
                    height: 24px;
                    width: 24px;
                    --primary-icon-color: #C4C5D0;
                }

                &:hover {
                    .hamburguer-icon {
                        --primary-icon-color: white;
                    }
                }
            }
    
            .title {
                color: #FFF;
                font-family: Poppins, sans-serif;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .chat {
            width: auto;
            padding: 20px 4px 20px 15px;

            .container {
                padding-right: 15px;
                height: calc(100% - 125.6px);
            }
        }

        .delete-modal, .edit-modal {
            position:fixed;
            left: calc(50% - 180px);
            top: calc(50% - 86.5px);
    
            .modal {
                width: 100%;
                width: 312px;
            }
    
            .header {
                display: flex;
                gap: 16px;
    
                .icon-container {
                    display: none;
    
                    .delete-icon {
                        display: none;
                    }
                }
    
                .text {
                    .title {
                        color: #23262F;
                        font-feature-settings: 'clig' off, 'liga' off;
                        /* Body */
                        font-family: Inter, sans-serif;
                        font-size: 1rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.5rem; /* 150% */
                    }
    
                    .description {
                        color: var(--color-dark-dark-2, #87898E);
                        font-feature-settings: 'clig' off, 'liga' off;
                        /* Small Caption/ Medium */
                        font-family: Inter;
                        font-size: 0.875rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1rem; /* 114.286% */
                    }
                }
            }
    
            .buttons {
                display: flex;
                gap: 16px;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;
    
                .delete-button, .cancel-button {
                    cursor: pointer;
                    border-radius: 0.5rem;
                    width: calc(50%);
                    height: 3.5rem;
                    padding: 1.25rem 0rem;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                }
    
                .delete-button {
                    background-color: #E53535;
                    color: var(--color-light-light, #FCFCFD);
                    font-feature-settings: 'clig' off, 'liga' off;
                    /* Button / Medium / Normal */
                    font-family: Inter;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1rem; /* 100% */
                }
    
                .cancel-button {
                    background: var(--color-light-light-2, #F1F1F1);
                    color: var(--color-dark-dark, #23262F);
                    font-feature-settings: 'clig' off, 'liga' off;
    
                    /* Button / Medium / Normal */
                    font-family: Inter;
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 1rem; /* 100% */
                }
            }
        }
    }
}