.home {
    display: flex;
    width: 100%;

    .navbar {
        display: none;
    }

    .chat {
        width: calc(100% - 260px - 32px);
        padding: 20px 4px 20px 40px;
        max-height: calc(100vh - 40px);

        .container {
            padding-right: 40px;
            overflow-y: auto;
            height: 100%;
            position: relative;

            .messages-container {
                min-height: calc(100% - 54px - 20px);

                .question-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                    margin-bottom: 20px;

                    .text {
                        border-radius: 8px;
                        background-color: var(--primary-blue);
                        color: #fff;
                        padding: 20px 40px;
                        max-width: 300px;
                    }
                }

                .answer-container {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    margin-bottom: 20px;

                    .text {
                        border-radius: 8px;
                        background-color: #F5F5F5;
                        padding: 20px 40px;
                        max-width: 300px;
                    }

                    .icon-button {
                        cursor: pointer;
                    }
                }
            }

            .bottom-container {
                bottom: 20px;
                // position: absolute;
                display: flex;
                gap: 24px;
                width: 100%;
    
                input {
                    width: calc(100% - 24px - 54px);
                    padding: 16px;
                    align-items: center;
                    gap: 41px;
                    border-radius: 17px;
                    border: 1px solid rgba(0, 0, 0, 0.4);
                    transition: 0.3s;

                    &:hover {
                        border: 1px solid rgba(0, 0, 0, 1);
                        transform: translateY(-2px);
                    }
                }
    
                button {
                    border-radius: 100%;
                    background: var(--primary-blue);
                    cursor: pointer;
                    height: 54px;
                    width: 54px;
                    transition: 0.3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
    
                    &:hover {
                        box-shadow: 3px 3px 12px 0px rgba(23, 195, 206, 0.35);
                        transform: translateY(-2px);
                    }

                    .send-icon {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: block;

        .sidebar-container {
            .sidebar {
                // animation: colapse 0.3s ease-in;
                position: absolute;
                left: -360px;
                transition: left 0.3s ease-in;
                z-index: 2;
            }
        }

        .sidebar-container-open {           
            .sidebar {
                position: absolute;
                left: 0;
                z-index: 2;
                transition: left 0.3s ease-in-out;

                .top-container {
                    .title {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                }
            }
        }

        .navbar {
            display: flex;
            gap: 36px;
            padding: 26px;
            background-color: var(--primary-blue);
    
            .hamburguer-button {
                cursor: pointer;
                transition: 0.3s;
    
                .hamburguer-icon {
                    height: 24px;
                    width: 24px;
                    --primary-icon-color: #C4C5D0;
                }

                &:hover {
                    .hamburguer-icon {
                        --primary-icon-color: white;
                    }
                }
            }
    
            .title {
                color: #FFF;
                font-family: Poppins, sans-serif;
                font-size: 1.375rem;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }
        }

        .chat {
            width: auto;
            padding: 20px 4px 20px 15px;

            .container {
                padding-right: 15px;
                height: calc(100% - 125.6px);
            }
        }

        .content-blur, .content-normal {
            animation: removeBlur 0.3s ease-in;
            animation-fill-mode: forwards;
        }

        @keyframes removeBlur {
            from {
                filter: blur(5px);
            }
            to {
                filter: blur(0px);
            }
        }

        .content-blur {
            animation: applyBlur 0.3s ease-in;
            animation-fill-mode: forwards;
        }

        @keyframes applyBlur {
            from {
                filter: blur(0px);
            }
            to {
                filter: blur(5px);
            }
        }
    }
}