.modal {
    border-radius: 0.9375rem;
    background: var(--color-light-light, #FCFCFD);
    padding: 1.5rem 2rem;
    width: fit-content;
    height: fit-content;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    animation: fadeIn 1s;
    animation-fill-mode: forwards;
    max-width: 544px;
    
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    @media (max-width: 768px) {
        padding: 1rem;
        margin: 0 0.5rem;
        max-width: 340px;
    }
}