// Font Poppins 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Inter
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

// Reset some styles
button {
    border: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

.App {
    height: 100vh;
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 8px;
}
     
/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}
     
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}
     
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    transition: 0.3s;
    background: #555;
}