body {
  margin: 0;
  height: 100%;
  width: 100%;
}

:root {
  --primary-blue: #0D3A6A;
  --primary-gray: #262633;
  --primary-yellow: #F5BA13;
  --primary-purple: #533483;
  --secondary-gray: #3F3D56;
  --primary-red: #EB1D36;
}